.list-item-button {
  position: absolute;
  font-size: 2em;
  top: .2em;
  right: -5em;
  transition: right 0.1s;
}

.list-group-item {
  position: relative;
  overflow: hidden;
  p {
    display: inline-block;
  }
}

.list-item-button {

}

header {
  overflow: hidden;
}